header {
	background-color: var(--dark-pink);
}
ul {
	display: none;
}
nav {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}
.unicorn {
	display: none;
}
h1 {
	color: var(--white);
	margin: 0px;
}
p {
	color: var(--white);
}
.title {
	background-color: var(--dark-pink);
}
.vague {
	width: 100%;
}
.h1 {
	padding: 20px;
}
.free {
	background-color: var(--cyan-blue);
	color: var(--white);
	border: none;
	border-radius: 999px;
	width: 35%;
	padding: 10px;
}
@media screen and (min-width: 768px) {
	ul {
		display: flex;
	}
	.del {
		display: none;
	}
	.menuburger {
		display: none;
	}
	.unicorn {
		display: flex;
	}
	.title {
		background-color: var(--dark-pink);
	}
}
@media screen and (min-width: 1024px) {
	ul {
		display: flex;
	}
	.del {
		display: none;
	}
	.menuburger {
		display: none;
	}
	.unicorn {
		display: flex;
	}
	.title {
		background-color: var(--dark-pink);
	}
}
