* {
    margin: 0px;
}
.x-avantages {
    display: grid;
    grid-template-areas:
        "a"
        "b"
        "c";
    justify-items: center;
    gap: 24px;
    padding: 48px 64px;
}
.x-avantages-article {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: start;
    justify-content: start;
    max-width: 60%;
}
.x-avantages-article-1 {
    grid-area: a;
}
.x-avantages-article-2 {
    grid-area: b;
}
.x-avantages-article-3 {
    grid-area: c;
}
.x-fonctionnalities {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    padding: 64px;
}
.x-fonctionnalities-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.x-fonctionnalities-article-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 85%;
}
.x-fonctionnalities-svg {
    width: 90%;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .x-avantages {
        grid-template-areas:
            "a b"
            "c .";
    }
    .x-fonctionnalities-article {
        flex-direction: row;
        justify-content: space-between;
        max-width: 90%;
    }
    .x-fonctionnalities .x-fonctionnalities-article:nth-child(2) {
        flex-direction: row-reverse;
    }
    .x-fonctionnalities-article-content {
        max-width: 60%;
    }
}
@media screen and (min-width: 1024px) {
    .x-avantages {
        grid-template-areas: "a b c";
    }
    .x-fonctionnalities-article {
        flex-direction: row;
        justify-content: space-between;
        max-width: 90%;
    }
    .x-fonctionnalities .x-fonctionnalities-article:nth-child(2) {
        flex-direction: row-reverse;
    }
    .x-fonctionnalities-article-content {
        max-width: 50%;
    }
    hr {
        display: block;
        justify-self: center;
    }
    .x-logo2 {
        display: block;
        justify-self: end;
    }
}
